<section class="order-component" style="background-color: #eee;">
  <div class="container py-5 h-100 pb-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="card">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-lg-8">
              <h5 class="mb-3">
                <a routerLink="/home" class="text-body btn bg-orange">
                  <i class="fas fa-long-arrow-alt-left me-2  title"></i>
                  {{'order-component.title' | translate}}
                </a>
              </h5>
              <hr>
              <div class="d-flex justify-content-between align-items-center mb-4">
                <div *ngIf="products.length">
                  <p class="mb-1 title1">{{'order-component.title3' | translate}}</p>
                  <p class="mb-0 title2">{{'order-component.title1' | translate}} {{products.length}}</p>
                  <p class="title3">{{'order-component.title2' | translate}}</p>
                </div>
                <!-- <div>
                    <span class="text-muted sort">{{'order-component.sort' | translate}}:</span>
                    <a href="#!" class="text-body price">{{'order-component.price' | translate}}
                      <i class="fas fa-angle-down mt-1"></i>
                    </a>
                </div> -->
                <div class="d-flex">
                  <span class="text-muted sort">{{'order-component.sort' | translate}}:</span>
                  <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <!-- <i class="fas fa-angle-down mt-1"></i> -->
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                      <li><a class="dropdown-item" (click)="sortby('Price')">{{'order-component.price' | translate}}</a></li>
                      <li><a class="dropdown-item" (click)="sortby('Quantity')">{{'order-component.quantity' | translate}}</a></li>
                    </ul>
                  </div>
                </div>
                
              </div>
              <div class="card mb-3" *ngFor="let item of products">
                <div class="card-body">
                  <div class="col-sm d-sm-block col-md d-md-flex p-0">
                    <div class="d-flex col-md-8 col-sm-12 flex-row align-items-center justify-content-between">
                      <div class="col-4">
                        <img src={{item.pictures}} class="img-fluid rounded-3" alt="Shopping item" width="100"
                          height="auto">
                      </div>
                      <div class="ms-3">
                        <h5>{{item.name}}</h5>
                        <p class="small mb-0 d-none d-sm-block desc-txt">{{item.description}}</p>
                      </div>
                    </div>
                    <div class="d-flex col-md-4 col-sm-12 flex-row align-items-center justify-content-between">
                      <div style="width: 50px;">
                        <h5 class="fw-normal mb-0">{{item.quantity}}</h5>
                      </div>
                      <div style="width: 80px;">
                        <h5 class="mb-0">{{item.totProdPrice}} €</h5>
                      </div>
                      <div>
                        <a href="#" class="" (click)="removeItem(item)">
                          <i class="fas fa-trash"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card bg-paiement text-white rounded-3">
                <div class="card-body" *ngIf="products.length">
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <h5 class="mb-0 Paiement"> {{'order-component.Paiement' | translate}}</h5>
                    <span id="boot-icon" class="bi bi-cart-check-fill bg-orange">
                      <p class="badge bg-orange">{{products.length}}</p>
                    </span>
                  </div>
                  <p class="small mb-2 accept">{{'order-component.accept' | translate}}:</p>
                  <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                  <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-visa fa-2x me-2"></i></a>
                  <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-amex fa-2x me-2"></i></a>
                  <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>
                  <form class="mt-4">
                    <div class="form-outline form-white mb-4">
                      <input type="text" id="typeName" class="form-control form-control-lg" size="17"
                             placeholder="Cardholder's Name"   name="cardholderName" [(ngModel)]="cardholderName" />
                      <label class="form-label" for="typeName">{{'order-component.cartname' | translate}}</label>
                    </div>

                    <div class="form-outline form-white mb-4">
                      <input type="text" id="typeText" class="form-control form-control-lg" size="17"
                             placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" name="cardNumber" [(ngModel)]="cardNumber" />
                      <label class="form-label" for="typeText">Card Number</label>
                    </div>

                    <div class="row mb-4">
                      <div class="col-md-6">
                        <div class="form-outline form-white">
                          <input type="text" id="typeExp" class="form-control form-control-lg" placeholder="MM/YYYY"
                                 size="7" id="exp" minlength="7" maxlength="7" name="cardExpiration"
                                 [(ngModel)]="cardExpiration" />
                          <label class="form-label" for="typeExp">{{'order-component.dateshop' | translate}}</label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-outline form-white">
                          <input type="password"
                                 id="typeCvc" class="form-control form-control-lg" size="4"
                                 placeholder="CVC" minlength="3" maxlength="3" name="cardCvv"
                                 [(ngModel)]="cardCvv" />
                          <label class="form-label" for="typeCvc">CVC</label>
                        </div>
                      </div>
                    </div>

                  </form>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between">
                    <p class="mb-2">{{'order-component.Subtotal' | translate}}</p>
                    <p class="mb-2">{{totalCardPrice}} €</p>
                  </div>

                  <div class="d-flex justify-content-between">
                    <p class="mb-2">Shipping</p>
                    <p class="mb-2">00.00 €</p>
                  </div>

                  <div class="d-flex justify-content-between mb-4">
                    <p class="mb-2">Total (Tax)</p>
                    <p class="mb-2">{{totalCardPrice}} €</p>
                  </div>

                  <div class="text-center">
                    <button class="btn btn-light btn-lg btn bg-orange"
                    (click)="openConfirmationModal(confirmModal)">Order Now</button>
                  </div>
                </div>
                <div class="card-body" *ngIf="!products.length">
                  <div class="d-flex justify-content-center align-items-center h-100">
                    <h5 class="mb-0">Your cart is empty</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<ng-template #confirmModal let-modal>
  <div class="modal-header bg-orange">
    <h4 class="modal-title">Confirmation</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to proceed with the payment?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close(false)">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="modal.close(true)">Confirm</button>
  </div>
</ng-template>