.order-component{
margin-top: 8vh;
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bg-grey {
    background-color: #eae8e8;
}

@media (min-width: 992px) {
    .card-registration-2 .bg-grey {
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

@media (max-width: 991px) {
    .card-registration-2 .bg-grey {
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
    }
}

.input-cart {
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    width: 4vw;
}


.pay-btn {
    transform: translateX(0%) translateY(170%);
}


@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
.img-fluid {
    max-width: 100%;
    height: auto;
}
.bg-paiement{
    background-color: #8d8977 !important; 
}

.logo h1 {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    margin: 0;
    font-family: var(--font-secondary);
    padding-left: 1vw;
}

.logo h1 span {
    color: var(--color-primary);
}

a i.fas.fa-trash {
    color: black; /* set default color to black */
  }
  
  a:hover i.fas.fa-trash {
    color: #F6CA67; /* set hover color to #F6CA67 */
  }
  .desc-txt{
    max-width: 75%;
  }
