.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 23%;
  }

  .bg-img{
    background-image: url("../../assets/img/testbg2.jpg");
    background-repeat: round;
    min-height: 100vh;
}