<div class="text-center spinner-position" *ngIf="!product">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="card h-100 cursor-pointer m-6">
    <div class="menu-item">
        <div class="toHover">
            <a [href]='product.pictures' class="glightbox">
                <img src="{{product.pictures}}" class="menu-img img-fluid" alt="">
            </a>
        </div>
    </div>

    <div class="card-body pt-3 pb-0 mt-15 cursor-pointer">
        <span class="span-bg ml-3 text-white span-detail cursor-pointer">
            <h6 class="ml-4 mr-4 mt-2 small-txt">{{'detail.title1' | translate}}</h6>
        </span>
        <div class="card-title">
            <div class="card-name font-weight-bold text-center">{{product.name}}</div>
            <p class="ingredients">{{product.description}}</p>
            <p class="price"> {{product.price }} €</p>
        </div>
    </div>
    <div class="card-footer cart-btn  p-0">
        <div class="d-flex" (click)="fullSceenAction(cartModal,product)">
            <img src="assets/img/menu/cart-fill.svg" alt="" class="mt-2 ml-2" width="35px" 
            height="45px">
            <p class="purchase-title">{{'cart.title' | translate}}</p>
        </div>
    </div>
</div>

<ng-template #cartModal let-modal class="rounded-0 border-0">
    <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">
            Your Shopping Cart
        </h5>
        <button type="button" class="bg-orange" 
                 aria-label="Close">
            <span aria-hidden="true" (click)="modal.dismiss('Cross click')">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-image">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col-4">Qty</th>
                <th scope="col">Total</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="w-25">
                    <div class="menu-item">
                        <div class="toHover">
                            <a [href]='product.pictures' class="glightbox">
                                <img src="{{product.pictures}}" class="menu-img img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </td>
                <td>{{product.name}}</td>
                <td>{{product.price |currency:'EUR':true }}</td>
                <td>
                    <div class="d-flex align-items-end" >
                        <button class="btn btn-link px-2"
                        (click)="increaseValue()">
                        <i class="fas fa-minus"></i>
                        </button>
                        <input type="text" class="form-control text-center" id="input1" value="2">
                        <button class="btn btn-link px-2"
                                (click)="increaseValue()">
                                <i class="fas fa-plus"></i>
                        </button>
                    </div>

                <td>{{product.total |currency:'EUR':true}}</td>
                <td>
                <a href="#" class="">
                    <i class="fas fa-trash"></i>
                </a>
                </td>
            </tr>
            </tbody>
        </table> 
        <div class="d-flex justify-content-end">
            <p class="price grey-txt">Total <span class="price grey-txt">{{product.price |currency:'EUR':true}} </span></p>
        </div>
    </div>
    <div class="modal-footer border-top-0 d-flex justify-content-between">
        <button type="button" class="btn bg-orange" (click)="modal.dismiss('Cross click')">Back to Menu</button>
        <button type="button" class="btn bg-orange" (click)="modal.dismiss('Cross click');
            sendToCart(product)">
            Add to cart
        </button>
    </div>
</ng-template>