<div class="text-center spinner-position" *ngIf="!product">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div class="card h-100 cursor-pointer m-6">
    <div class="menu-item">
        <div class="toHover">
            <a [href]='product.pictures' >
                <img class="pic-card" src="https://res.cloudinary.com/dz5mp3a6n/image/upload/v1685148935/menu-item-3_smfe5f.png"  alt="">
            </a>
        </div>
    </div>

    <div class="card-body pt-3 pb-0 mt-15 cursor-pointer">
        <!-- <span class="span-bg ml-3 text-white span-detail cursor-pointer">
            <h6 class="ml-4 mr-4 mt-2 small-txt">{{'detail.title1' | translate}}</h6>
        </span> -->
        <div class="card-title">
            <div class="card-name font-weight-bold text-center">{{product.name}}</div>
            <p class="ingredients">{{product.description}}</p>
            <p class="price"> {{product.price | currency:'EUR':'symbol':'1.2-2'}} </p>
        </div>
    </div>
    <div class="card-footer bg-card-footer bg-orange d-flex align-items-baseline justify-content-center">
        <span class="fa-solid fa-cart-shopping size-icon pr-2" ></span>
        <h4 class="purchase-title pt-1">{{'cart.title' | translate}}</h4>
    </div>
</div>

<ng-template #cartModal let-modal class="rounded-0 border-0">
    <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">
            <!--Your Shopping Cart-->
            {{'rounded-0 border-0.modal-title' | translate}}
        </h5>
        <button type="button" class="bg-orange" 
                 aria-label="Close">
            <span aria-hidden="true" (click)="modal.dismiss('Cross click')">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <table class="table table-image">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="table-product"> {{'rounded-0 border-0.table-product' | translate}}</th>
                <th scope="col"  class="table-Price"> {{'rounded-0 border-0.table-Price' | translate}}</th>
                <th scope="col-4"class="table-Quantity"> {{'rounded-0 border-0.table-Quantity' | translate}}</th>
                <th scope="col"class="table-Total"> {{'rounded-0 border-0.table-Total' | translate}}</th>
                <th scope="col"class="table-Actions"> {{'rounded-0 border-0.table-Actions' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="w-25">
                    <div class="menu-item">
                        <div class="toHover">
                            <a [href]='product.pictures' class="glightbox">
                                <img src="{{product.pictures}}" class="menu-img img-fluid" alt="">
                            </a>
                        </div>
                    </div>
                </td>
                <td>{{product.name}}</td>
                <td>{{product.price |currency:'EUR':true }}</td>
                <td>
                    <div class="d-flex align-items-end" >
                        <button class="btn btn-link px-2"
                        (click)="increaseValue()">
                        <i class="fas fa-minus"></i>
                        </button>
                        <input type="text" class="form-control  text-center" [(ngModel)]="inputedQuantity" id="input1" value="2">
                        <button class="btn btn-link px-2"
                                (click)="increaseValue()">
                                <i class="fas fa-plus"></i>
                        </button>
                    </div>

                <td>{{product.total |currency:'EUR':true}}</td>
                <td>
                <a href="#" class="">
                    <i class="fas fa-trash"></i>
                </a>
                </td>
            </tr>
            </tbody>
        </table> 
        <div class="d-flex justify-content-end">
            <p class="price grey-txt">Total <span class="price grey-txt">{{product.price |currency:'EUR':true}} </span></p>
        </div>
    </div>
    <div class="modal-footer border-top-0 d-flex justify-content-between">
        <button type="button" class="btn bg-orange " (click)="modal.dismiss('Cross click')" [routerLink]="'/menu'">{{'rounded-0 border-0.btn bg-orang'| translate}}</button>
        <button type="button" class="btn bg-orange " (click)="modal.dismiss('Cross click');
            sendToCart(product)"
            [routerLink]="'/order'">
            {{'rounded-0 border-0.btn bg-orange-add'| translate}}
        </button>
    </div>
</ng-template>