.backgroud-image{
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-img{
    background-image: url("../../../assets/img/pizza.jpg");
    background-repeat: round;
}
.text{
    text-shadow: 1px 1px 2px red, 0 0 1em wheat, 0 0 0.2em wheat;
}